@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


:root {
  --bg-back: #bdc3c7;
  --bg-main: dimgrey;
  --bg-main-lite: ;
  --bg-inv: #34495e;
  --bg-inv-lite: #2c3e50;
  --color-main: #2c3e50;
  --color-main-lite: #7f8c8d;
  --color-inv: #ecf0f1;
  --color-inv-lite: #bdc3c7;
  --color-link: #3498db;
  --color-link-lite: #2980b9;
  --red: #e74c3c;
  --red-lite: #c0392b;
  --yellow: #f1c40f;
  --yellow-lite: #f39c12;
}

#user-button {
  display: none;
  position: sticky;
  right:0;
}

#logout-button {
  display: none;
  position: sticky;
  right:0;
  padding-left: 10px;

}

#login-button {
  position: sticky;
  right:0;
}

a :hover {
  cursor: pointer;
}

body {
  background: #272727;
  font-family: "Montserrat", sans-serif;
}

.navMenu {
  position: sticky;
  margin-top: 2%;
  margin-left: 2%;
  cursor: pointer;
  z-index: 5;
}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #fddb3a;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #fddb3a;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(37px);
  transform: translateX(37px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(120px);
  transform: translateX(120px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(207px);
  transform: translateX(207px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.formcontent {
  display: grid;
/*grid-template-columns: 0fr 0fr auto;*/
}

.formcontent.grid {
  column-gap: 0;
  grid-template-columns: 0fr 0fr auto;
}

.grid {
  display: grid;
  grid-template-columns: 75% auto;
  grid-column-gap: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.grid.equal {
  grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
}

.descr {
  display: inline-block;
  padding: 0;
  margin: 10px;
  padding: 10px;
  text-align: right;
  color: #f6f4e6;
}

.btn {
  background: var(--yellow-lite);
  color: #f6f4e6;
  padding: 10px;
  margin: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  display: inline;
  transition: 0.8s;
}

.grid > .formleft {
  grid-column: 1/2
}

.grid > .formright {
  grid-column: 2/3;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 3px;
  background: #2c3e50;
  border-radius: 5px;
  margin: 10px;
  display: none;
  z-index: 7;
  padding: 25px;
}

.forminput {
  padding: 10px;
  margin: 10px;
  margin-left: 10px;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid var(--bg-main);
  background: #f6f4e6;
  font: inherit;
  grid-column: 2 / 4;
}

.grid > .formrightright {
  grid-column: 3/4;
}

.grid > .formfull {
  grid-column: 1/3;
}

.formtext.formfull {
  margin-top: 5px;
  text-align: center;
}

button {
  color: var(--yellow-lite);
  background: inherit;
  border: inherit;
  font: inherit;
}

#login-prompt {
  color:#f6f4e6;  
}

#signup-prompt {
  color:#f6f4e6;  
}

#loginChangeForm, #signinChangeForm {
  color: #fddb3a;
  cursor: pointer;
}

.appointment-entry {
  width: 80%;
  margin: auto;
  text-align: center;
  background: #2c3e50;
  color: #f6f4e6;
  display: grid;
  grid-template-areas:
  'time title title title title votes'
  'time desc desc desc desc votes';
  height: auto;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: 6px 6px 4px black;
  grid-template-columns: repeat(6, minmax(0, 1fr)) !important;
}

.appointment-time {
    grid-area: time;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--yellow-lite);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    font-weight: 600;
}

.appointment-desc {
  grid-area: desc;
  overflow-wrap: break-word;
}

.appointment-title {
  padding-top: 5px;
  grid-area: title;
  font-size: 22px;
}

.appointment-votecount {
    grid-area: votes;
    padding-top: 25px;
    padding-bottom: 20px;
    background-color: var(--yellow-lite);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    font-weight: 900;
    font-size: 18px;
    text-align: center;
}

#appointment-list {
  position: relative;
  margin-top: 70px;
}

.darkener {
  position: fixed;
  top: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  background: #00000088;
  z-index: 6;
}

#appoint-popup {
  color: #f6f4e6;
  /* TODO: grid for elements inside of popup */
}

#logout-prompt {
  color: #f6f4e6;
}

.comment {
  background: var(--bg-main);
  padding: 25px;
  margin: 10px 0 10px 0;
  border-radius: 5px;
  transition: 0.5s;
}

.info {
  color: var(--color-main-lite);
  font-size: 12px;
  float: right;
  margin: 0;
  z-index: 2
}

.navItem {
  text-align: center;
}

#addTimeslot {
  color: #fddb3a;
  cursor: pointer;
}

#timeslot-prompt {
  padding-top: 2px;
  padding-bottom: 5px;
}